.button{
    background: $blue;
    border: none;
    color: white;
    display: inline-block;
    font-size: $font-size-large;
    font-weight: 300;
    line-height: 1;
    padding: $s-size; 
    text-decoration:none; 
}

.button--link{//modifer
    background: none;
}

.button--secondary{//modifer
    background: #888888;
}

.button--post{//modifer
    background: #d44545;
    border-radius: 3px ;
    margin-left:27rem;
}

.button--save{//modifer
    @extend .button--post;
    margin-left:41rem;
}

.button--remove{//modifer
    @extend .button--post;
    margin-left:25%;
    margin-top: 1%;
    width: 50%;
  
}